@import '../src/common/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open sans', sans-serif;
}

a {
  text-decoration: none;
}

body {
  background: $primary-color;
}

.container {
  margin: 0 40px;
}
